# secrets
.env
*.key

# python
__pycache__/
*.pyc
.venv/
venv/

# docker
*.log

# mlflow artifacts / runs (원하면 제외)
mlruns/

# IDE
.idea/

# MLflow artifacts & local DB
mlartifacts/
mlflow.db

# media / misc
*.png
